.jumbotron {
  background-color: #ffba19;
  color: black;
  width: 100%;
  padding-top: 5rem; }

.imgbanner {
  width: 100%; }

.botonesinfo {
  padding: 2rem 5rem 2rem 5rem; }

footer {
  background-color: #ffba19;
  color: black; }

.card-hotel {
  flex: 1 150px;
  padding: 2px 5px 2px 5px; }

.btn-reserva {
  width: 100%; }

.miscards {
  padding: 2rem 5rem 2rem 5rem; }

.boton-modal {
  padding-top: 3rem; }

.miform {
  padding: 2rem 5rem 2rem 5rem; }

.mitabla {
  padding: 2rem 5rem 2rem 5rem; }

.mistabs {
  padding: 2rem 5rem 2rem 5rem; }

.tab-content {
  padding: 2rem 5rem 2rem 5rem; }

.nosotros {
  padding: 2rem 5rem 2rem 5rem; }
